/*************************************************|Products Section/Grid[0]|*************************************************/
/************** Header == Slideshow Section **************/
header {
	grid-area: header;
	-webkit-transition: background-image 0.4s ease-in-out;
	-webkit-background-size: cover; 
	transition: background-image 0.4s ease-in-out;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid gray;
}

/*Left and Right Buttons On Header Section*/
#right-slide,
#left-slide {
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	padding: 0.2vw 1.2vw;
	margin-top: 40vh;
	font-size: 4vw;
	background-color: rgb(0, 0, 0, 0.2);
    text-align: center;
  	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	border-radius: 1vw;
	transition-duration: 0.4s;
}

button::-moz-focus-inner {
  border: 0;
}

/*Left Slide Hover And Effects*/
#left-slide {
	margin-left: 1.4vw;
	float: left;
}

#left-slide:hover {
	background-color: rgb(0, 0, 0, 0.6);
}

#left-slide:active {
	background-color: rgb(0, 0, 0);
}

/*Right Slide Hover And Effects*/
#right-slide {
	margin-right: 1.4vw;
	float: right;
}

#right-slide:hover {
	background-color: rgb(0, 0, 0, 0.6);
}
#right-slide:active {
	background-color: rgb(0, 0, 0);
}

/*Reserve A Cup System*/
#reservation { 						/********************* JS Login Or Sign Up *********************/
    margin: 80vh auto auto 39.4vw;
    padding: 0.8vw;
    border: 0.1vw solid white;
    cursor: pointer;
    overflow: hidden;
    outline:none;
	text-align: center;
  	text-decoration: none;
	font-size: 1.5vw;
	color: white;
	background-color: rgb(0, 0, 0, 0.4);
	border-radius: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 1.4vw;
	text-align: center;
	transition-duration: 0.4s;
}

#reservation:hover {
	background-color: rgb(0, 0, 0, 0.6);
}

#reservation:active {
	background-color: rgb(0, 0, 0);
}