main {
	grid-area: main;
	grid-template-rows: repeat(3, 100vh);
}

/*************************************************|Ecosystem/Grid[1]|*************************************************/
.eco-container {
	display: grid;
	grid-template-rows: 20vh 30vh 50vh; /*50vh should be 42 for percision*/
	min-height: 104vh;
	grid-row-gap: 20px;
	justify-items: center;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0)), url('../../images/grid3.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-template-areas:
	"title"
	"description"
	"guide";
	border-bottom: 2px solid gray;
}

.eco-title{
	grid-area: title;
	margin-top: 4vw;
	font-size: 2vw;
	font-family: 'Bellota', cursive;
	color: white;
}

.eco-description {
	grid-area: description;
	padding: 0vw 10vw;
	font-size: 1.6vw;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.eco-guide {
	grid-area: guide;
	display: grid;
	grid-template-columns: repeat(5, 16vw);
	justify-items: center;
	grid-column-gap: 4vw;
}

.guide-item {
	list-style-type: none;
}

/*Description of Item*/
.guide-item > p {
	color: white;
	margin-bottom: 2vw;
	font-size: 1.4vw;
	text-align: center;
}

/*Item Image*/
.pngImg {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: auto; 
    height: 25vh; 
    object-fit: contain; 
 }

/*************************************************|Maps/Grid[2]|*************************************************/
.location-mapping {
	display: grid;
	grid-template-rows: 20vh 20vh 50vh;
	min-height: 104vh;
	justify-items: center;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0)), url('../../images/map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 2px solid gray;
}

.locations-title {
	margin-top: 2.4vw;
	font-size: 2vw;
	font-family: 'Bellota', cursive;
	color: white;
}

.map-item {
	border: 2px solid white;
	color: white;
	padding: 1vw 1.4vw;
	margin: 0.2vw;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
    overflow: hidden;
	display: inline-block;
	font-size: 1.2vw;
	background-color: rgba(0,0,0,0.4);
	font-family: 'Bellota Text', cursive;
	transition-duration: 0.4s; 
}

.map-item:hover{
	background-color: rgba(0,0,0,0.6);
}

/*************************************************|Info/Grid[3]|*************************************************/
.info-container {
	grid-area: info;
	display: grid;
	grid-template-rows: 20vh 84vh;
	grid-row-gap: 4vh;
	justify-items: center;
	grid-template-areas: 
	"aboutHeader"
	"aboutInfo";	
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0)), url('../../images/about.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.about-title {
	grid-area: aboutHeader;
	margin-top: 4vw;
	font-size: 2vw;
	font-family: 'Bellota', cursive;
	color: white;
}

.about-info {
	grid-area: aboutInfo;
	font-size: 1.6vw;
	padding: 0vw 6vw;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif; 
}