/************** Navigation Menu **************/
/*Fixed On Top (Vertical) Center (Horizontal) Grid*/
#nav-bar {
	display: grid;
	position: fixed;
	grid-template-columns: repeat(6, 10vw);
	column-gap: 2vw;
	margin-top: 0.2vw;
	padding-bottom: 0.4vw;
	margin-left: 15%;
	justify-items: center;
	align-items: center;
	border-bottom: 2px solid rgb(255, 255, 255, 0.4);
	background-color: transparent;
}

#logo {
	margin-top: 20px;
	border: 2px solid rgb(0,0,0,0.4);
	border-radius: 50%;
	width: 4vw;
	vertical-align: middle;
}

#logo-txt {
	text-align: center;
	font-size: 2vw;
	font-family: 'Open Sans Condensed', sans-serif;
}

.menu-item {
	list-style: none;
	font-family: 'Bellota', cursive;
	font-size: 1.2vw;
}

.menu-item > a,
#nav-bar > a {
	text-decoration: none;
	color: white;
}